<a href="https://colab.research.google.com/github/Darkred69/E-Commerce-Analyst/blob/main/Python_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('/content/drive/MyDrive/Huỳnh Thiệu Luân - BI17 - Logical Thinking and Mini case study/data_ecommerce.csv')

In [10]:
df.describe()

         Seller ID
count  2145.000000
mean   1073.000000
std     619.352484
min       1.000000
25%     537.000000
50%    1073.000000
75%    1609.000000
max    2145.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2145 entries, 0 to 2144
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Seller ID               2145 non-null   int64
 1   Seller's Main Category  2145 non-null   object
 2   Sign-up Time            2145 non-null   datetime64[ns]
 3   Activation Time         2145 non-null   datetime64[ns]
 4   1st Listing             2145 non-null   datetime64[ns]
 5   1st Salable             2145 non-null   datetime64[ns]
 6   1st Transaction         2145 non-null   datetime64[ns]
dtypes: datetime64[ns](5), int64(1), object(1)
memory usage: 117.4+ KB

Check duplicates for Seller ID

In [6]:
a = df.duplicated(subset = 'Seller ID') 
num_dup = 0
for i in range(0,len(df)):
  if a.iloc[i] == True:
    num_dup +=1
num_dup

0

Đổi kiểu dữ liệu thành dạng ngày tháng

In [7]:
df['Sign-up Time']= pd.to_datetime(df['Sign-up Time'])
df['Activation Time']= pd.to_datetime(df['Activation Time'])
df['1st Listing']= pd.to_datetime(df['1st Listing'])
df['1st Salable']= pd.to_datetime(df['1st Salable'])
df['1st Transaction']= pd.to_datetime(df['1st Transaction'])

In [8]:
df.isnull().sum()

Seller ID                 0
Seller's Main Category    0
Sign-up Time              0
Activation Time           0
1st Listing               0
1st Salable               0
1st Transaction           0
dtype: int64

In [ ]:
df.to_csv('/content/drive/MyDrive/ecom.csv')